.DS_Store
.atom/
.idea
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock
.flutter-plugins

.metadata
bnoggles.iml
bnoggles_android.iml

android/
ios/

/assets/words_nl.txt

index_nl_clean.dic
index_nl_clean_unmunched.dic