.DS_Store
.atom/
.dart_tool/
.idea
*.iml
.packages
.pub/
build/
ios/.generated/
packages
.flutter-plugins

.metadata
bnoggles.iml
bnoggles_android.iml

ios/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java


tools/*.dic

key.properties